h1 {
 background-color: greenyellow;
 text-align: center;
}
p {
    text-shadow: 0cap;
    background-color: aqua;
    text-align: justify;
}
div {
    display: inline;
    background-position: 0cqb;
}
a {
    text-align: center;
    background-color: blueviolet;
}